.form-container {
  width: 50%;
  margin: 5em auto;
  display: flex;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form,
label,
select,
input {
  width: 100%;
  padding: 0.5em;
  text-align: center;
}

form,
label {
    margin-right: 1em;
  font-size: 1.2em;
  font-weight: bold;
}

.form-inputs-container {
  width: 100%;
  display: flex;
  margin-bottom: 1em;
}

.btn-submit-form {
  margin: 2em;
  padding: 1em 2em;
  border: transparent;
  border-radius: 18%;
  font-size: 1em;
  color: white;
  background-color: black;
  font-weight: bold;
}
