.form-container {
  width: 50%;
  margin: 3em auto;
  display: flex;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form,
label,
select,
input {
  width: 70%;
  padding: 0.5em;
  text-align: center;
  background-color: #FFFAFF;
}

form,
label {
  font-size: 1.2em;
  font-weight: bold;
  font-family: monospace;
}

label {
  text-decoration: underline;

}

label,input{
  width: 60%;
}
form,
input {
  border: 0.5px solid black;
  border-radius: 5%;
  padding: 0.5em;
}

select {
  width: 60%;
  border-radius: 6%;
}

.form-inputs-container {
  width: 100%;
  display: flex;
  margin-bottom: 1em;
}

.btn-submit-form {
  margin:1em;
  padding: 1em 2em;
  border: transparent;
  border-radius: 18%;
  font-size: 1em;
  color: white;
  background-color: black;
  font-weight: bold;
}

@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  .form-container {
    margin: 1em auto;
  }
  .form-inputs-container {
    display: block;
    margin: 0;
  }
}
