.navbar-container {
  border-bottom: 1px solid #72a276;
  padding-bottom: 1.5em;
  background-color: #FFFAFF;
  margin: 0;
}

.title-container {
  text-align: center;
}

.site-title {
  font-size: 2.5em;
  color: #0e120e;
  font-family: serif;
  padding: 0.6em;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}
nav li {
  margin: 0 3em;
}
nav a {
  font-size: 1.5rem;
  font-family: serif;
  color: black;
  font-weight: bold;
  text-decoration: none;
}

nav a:hover,
nav a:focus {
  cursor: pointer;
  color: rgba(8, 110, 8, 0.489);
  text-decoration: underline;
}

button {
  background-color: transparent;
  border-radius: 2%;
}
